<%- include('./partials/header.ejs') %>

    <h1> Node & Express Demo </h1>

    <%#
    directory: `${__dirname}/public/images'`
    URL: `http://localhost:4545/images/dota2.jpg`
    %>
    <img src="/images/dota2.jpg" />

<%- include('./partials/footer.ejs') %>
